*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
}
body{
    display: grid;
    place-content: center;
    background-color: rgb(228, 228, 228);
}
.card-container{
    height: 220px;
    width: 500px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.233);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.096);
    margin: 0 0 20px 0;
    border-radius: 10px;
}
.img-container{
    height: 70%;
    width: 500px;
}
.img-container > img{
    height: 110px;
    width: 110px;
    margin: 10px 0 0 20px;
}
.info-container{
    height: 50%;
}
.name{
    font-size: 30px;
    margin: -10px 0 0 20px;
}
.message{
    margin: 0 0 0 20px;
}